html{
height: 100.2%;
}

body{
background-color: #777;
}

ul li.b {
display: block;
font-size: 26px;
background-color: #aaa;
text-align: center;
}

h1 {
margin: 0;
padding: 0;
text-align: center;
margin-bottom: -10px;
font-family: Verdana, Sans-Serif;
}

h1 a{
font-size: 22px;
color: #333;
}

h1 a:hover{
color: #444;
}

h1 a:visited{
color: #333;
}

img {
max-width: 300px;
}

select {
width: 32%;
}

#main {
width: 100%;
float: left;
background-color: #eee;
color: #222;
}

/* left content */
#left {
width: 18%;
float: left;
}

#left ul {
margin: 0;
padding: 0;
border-right: 1px solid #777;
}

#left ul li {
display: block;
text-align: center;
}

#left ul li a:link {
display: block;
font-family: verdana, helvetica, georgia, sans-serif;
text-decoration: none;
color: #222;
}

#left ul li a:visited {
display: block;
font-family: verdana, helvetica, georgia, sans-serif;
text-decoration: none;
color: #222;
}

#left ul li a:hover {
color: #000;
background-color: #ccc;
}

#left ul li a.s {
font-size: 20px;
text-align: left;
padding-left: 20px;
}

#left ul li a.sr {
font-size: 20px;
text-align: left;
padding-left: 20px;
background-color: #a77;
}

#left ul li a:hover.sr {
background-color: #a00;
}

/* right content */
#right {
width: 82%;
float: right;
}

#header {
width: 100%;
background-color: #aaa;
text-align: center;
border-bottom: 1px solid #777;
}

#content {
width: 69%;
float: left;
font-family: Helvetica, Georgia, Sans-Serif;
font-size: 15px;
text-align: left;
padding: 0.5%;
}

#content p {
padding-left: 20px;
padding-right: 10px;
text-align: justify;
}

#content h2 {
margin: 0;
padding: 0;
font-size: 20px;
margin-left: 15px;
}

#content li {
margin-bottom: 10px;
padding-right: 20px;
}

#content img {
margin-top: 20px;
margin-right: 5px;
margin-left: 20px;
float: right;
}

#im {
float: right;
}

#table {
float: left;
margin-top: 60px;
}

#info {
margin-top: 20px;
width: 100%;
float: left;
}


#map {
width: 30%;
float: right;
}

#map ul {
margin: 0;
padding: 0;
border-left: 1px solid #777;
}

#map ul li {
display: block;
padding-left: 10px;
margin-bottom: 5px;
}

#map ul li.cat {
background-color: #ccc;
}

#map ul li a {
color: #222;
}

#map ul li a:hover {
color: #333;
}

.head {
width: 90%;
margin-left: 4%;
font-size: 20px;
height: 24px;
}

#upload {
margin-left: 29px;
}

#select {
width: 91%;
margin-left: 4%;
}

#short {
width: 90%;
height: 200px;
margin-left: 4%;
font-family: Helvetica, Georgia, Sans-Serif;
font-size: 15px;
}

#body {
width: 90%;
height: 400px;
margin-left: 4%;
font-family: Helvetica, Georgia, Sans-Serif;
font-size: 15px;
}

#submit {
float: right;
margin-right: 5.3%;
font-size: 24px;
}

#msg {
border: 1px solid #000;
background-color: #ddd;
width: 60%;
text-align: center;
margin: 0 auto;
margin-top: 50px;
}

.nimg {
width: 150px;
}

.im_c {
width: 300px;
font-size: 11px;
margin-left: 10px;
margin-right: 5px;
float: right;
}
.im_c img {
float: left;
max-width: 300px;
}



