html {
    height: 100.2%;
}
body {
    background-attachment: fixed;
    background-color: #D6DEE6;
    background-image: url("/gfx/bg2.gif");
    background-position: 100% 100%;
    background-repeat: repeat-x;
    color: #222222;
    font-family: georgia;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
h2 {
    clear: both;
    font-family: verdana;
    font-size: 16px;
    margin-bottom: 5px;
}
a:visited {
    color: #3C8DE4;
}
a:link {
    color: #3C8DE4;
}
a:hover {
    color: #00438B;
}
#NVH {
    margin-right: 500px;
    position: fixed;
    right: 50%;
    top: 30px;
}
#main {
    margin: 0 auto;
    width: 900px;
}
#header {
    background-image: url("/gfx/header_01.gif");
    font-family: verdana;
    font-size: 18px;
    height: 40px;
    width: 100%;
}
#header p {
    color: #DDEEFF;
    padding-left: 50px;
    padding-top: 10px;
}
#body {
    background-color: #FAFAFA;
    float: right;
    width: 100%;
}
#container_1 {
    float: left;
    font-family: Helvetica,Georgia,Sans-Serif;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-top: 30px;
    width: 640px;
}
#container_1 h1 {
    color: #222222;
    font-family: Verdana,Sans-Serif;
    font-size: 24px;
    margin: 0;
    text-align: center;
}
#container_1 p {
    font-size: 15px;
    margin: 5px 0 10px;
    text-align: left;
}
#container_1 ul {
    margin-left: -15px;
}
#container_1 li {
    margin-bottom: 10px;
}
#container_1.pub_fix {
    width: 750px;
}
#container_1 a.top_link {
    float: right;
    position: relative;
    top: 0;
}
#container_1 #art_list {
    padding: 0 0 0 15px;
}
#container_1 #art_list li {
    display: block;
}
#big_container {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}
#big_container h1 {
    color: #222222;
    font-family: verdana;
    font-size: 24px;
    margin: 0;
    text-align: center;
}
#big_container h2 {
    font-family: verdana;
    margin: 0;
    text-align: center;
}
#big_container p {
    font-family: Helvetica,Georgia,Sans-Serif;
    font-size: 15px;
    margin: 5px 20px;
    text-align: left;
}
#big_container li {
    font-family: Helvetica,Georgia,Sans-Serif;
    margin-bottom: 10px;
    margin-right: 20px;
}
#big_container a {
    font-family: Helvetica,Georgia,Sans-Serif;
    margin-left: 10px;
}
.news {
    float: left;
    margin-top: 0;
    padding-bottom: 10px;
    width: 900px;
}
.nhead {
    color: #777777;
    font-size: 13px;
    margin-left: 20px;
}
.nphoto {
    float: left;
    font-size: 11px;
    margin-left: 20px;
    margin-top: 7px;
    max-width: 150px;
}
.nimg {
    border: medium none;
    margin-left: -10px;
}
.nshortsum {
    float: left;
    width: 730px;
}
.nshortsum p {
    text-align: justify;
}
.under {
    text-decoration: underline;
}
.top_link {
    float: right;
    font-weight: bold;
    position: relative;
    top: -30px;
}
.top_link:visited {
    color: #333333;
}
.im_c {
    float: right;
    margin-left: 10px;
    margin-right: 5px;
}
.im_c img {
    width: 300px;
}
#intro {
    text-align: center;
}
#intro embed {
    height: 500px;
    width: 700px;
}
#info {
    clear: both;
    float: left;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-left: 20px;
    width: 620px;
}
#table {
    float: left;
    margin-top: 60px;
}
#im {
    float: right;
}
#container_2 {
    border-left: 1px solid #DDDDDD;
    float: right;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-bottom: 20px;
    width: 230px;
}
#footer {
    background-color: #EAEAEA;
    border-top: 1px solid #DDDDDD;
    clear: both;
    padding: 5px;
    text-align: center;
}
#footer img {
    width: 850px;
}
#projects {
    text-align: center;
}
#projects ul {
    margin: 0;
    padding: 0;
}
#projects ul li {
    display: block;
}
#projects ul li a {
    color: #444444;
    font-size: 20px;
    text-decoration: none;
}
#projects ul li a:hover {
    text-decoration: underline;
}
#projects .nvh {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}
#gallery {
    margin: 30px auto 0;
    text-align: center;
}
#image img {
    border: medium none;
}
#num_lnk {
    font-family: courier;
}
#num_lnk a {
    border: 1px solid #CCCCCC;
    color: #444444;
    margin-left: -5px;
    padding: 5px;
    text-decoration: none;
}
#num_lnk a:hover {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
}
#num_lnk .high {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    color: #444444;
    margin-left: -5px;
    padding: 5px;
}
#nav, #num_lnk {
    margin-bottom: 10px;
    margin-top: 10px;
}
#nav a {
    color: #444444;
    text-decoration: none;
}
#nav a:hover {
    text-decoration: underline;
}
#nav_hor {
    background-color: #7793CC;
    background-image: url("/gfx/nav_hor_01.gif");
    background-repeat: no-repeat;
    border-bottom: 1px solid #FAFAFA;
    height: 38px;
    width: 100%;
}
#nav_hor ul {
    margin: 0;
    padding-left: 0;
}
#nav_hor ul li {
    display: inline;
}
#nav_hor ul li a {
    color: #ECFAFF;
    float: left;
    font-family: Arial,Helvetica;
    font-size: 17px;
    font-weight: bold;
    padding: 9px 20px;
    text-decoration: none;
}
#nav_hor ul li a:hover {
    background-color: #ECECEC;
    border-left: 1px solid #CECECE;
    border-right: 1px solid #CECECE;
    color: #555555;
    padding: 9px 19px;
}
#nav_hor ul li #active {
    background-color: #FAFAFA;
    border-bottom: 1px solid #FAFAFA;
    color: #555555;
}
#nav_hor ul li #active:hover {
    border-left: medium none;
    border-right: medium none;
    padding: 9px 20px;
}
#nav_ver {
    float: left;
    font-family: Helvetica,Georgia,Sans-Serif;
}
#nav_ver ul {
    margin: 0 0 0 -10px;
    padding: 0;
}
#nav_ver ul li {
    display: inline;
    margin-bottom: 5px;
    text-align: left;
}
#nav_ver ul li a {
    clear: both;
    color: #00438B;
    display: block;
    float: left;
    text-decoration: none;
}
#nav_ver ul li a:hover {
    color: #3C8DE4;
    text-decoration: underline;
}
.art {
    clear: both;
    float: left;
    margin-left: 40px;
}
.art_a {
    clear: both;
    color: #4444CC;
    float: left;
    margin-left: 40px;
    text-decoration: underline;
}
.cat {
    clear: both;
    float: left;
    font-weight: bold;
    margin-left: 25px;
}
.cat_l {
    clear: both;
    float: left;
    font-weight: bold;
    margin-left: 25px;
    text-decoration: underline;
}
#nav_ver ul .nvh {
    clear: both;
    float: left;
    font-size: 22px;
    font-weight: bold;
    margin-left: 70px;
}
#nh {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
.years a {
    font-family: verdana,helvetica,sans-serif;
    font-size: 17px;
    margin-bottom: 10px;
    margin-left: 40px;
    text-align: center;
}
#container_2_pub {
    border-left: 1px solid #DDDDDD;
    float: right;
    left: 50%;
    margin-left: 340px;
    margin-top: 45px;
    position: fixed;
    width: 110px;
}

